.about {
  text-align: center;
  color: white;
  padding: 40px;
}

.aboutEmail {
  padding-bottom: 25px;
}

.aboutName {
  padding-bottom: 20px;
}

body {
  background: black;
}

button {
  margin-bottom: 30px;
  width: 150px;
}

.headshot {
  padding-bottom: 25px;
}

.homeMessage {
  color: rgb(21, 238, 238);
  text-align: center;
  padding-top: 40px;
}

img {
  width: 300px;
}

.mainTitle {
  color: red;
  text-align: center;
}

.project {
  display: flex;
  flex-direction: column;
  border: solid red 2px;
  margin: 10px;
  align-items: center;
}

.projectDescription {
  padding: 15px;
  text-align: center;
  color: white;
}

.projname {
  color: rgb(21, 238, 238);
}

